<div class="container">
  <div class="page-header">
    <h1>Boek Applicatie</h1>
  </div>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a routerLink="/books" routerLinkActive="active" class="nav-link active">Alle boeken</a>
    </li>
    <li class="nav-item">
      <a routerLink="/addbook" routerLinkActive="active" class="nav-link active">Boek toevoegen</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<br> <br>
<div class="container">
  <footer>
        &copy; Van Gijsel Kenneth - Trainer@Oak3Academy
  </footer>
</div>
