<div class="container">

  <div class="card border-secondary mb-3">
    <div class="card-header">
       {{detailBook.author}}
    </div>
    <div class="card-body">
      <h4 class="card-title">{{detailBook.title}}</h4>
      <blockquote class="blockquote mb-0">
        <p class="card-text">Uitgeverij: {{detailBook.publisher|lowercase}}</p>
        <p class="card-text">Genre: {{detailBook.genre|lowercase}}</p>
        <p class="card-text">Taal: {{detailBook.language|lowercase}}</p>
        <p class="card-text">Aantal pagina's: {{detailBook.numberOfPages}}</p>
        <footer class="blockquote-footer">isbn:<cite title="Source Title">{{detailBook.isbn}}</cite></footer>
      </blockquote>
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="goBack()">terug</button>

</div>
